body {
  background-color: white;
}
#Mouse {
  color: gray;
}
#Canary {
  color: orangered;
}
#Penguin {
  color: black;
}
#Salmon {
  color: Salmon;
}
#Cat {
  color: sienna;
}
#Goldfish {
  color: gold;
}
#Dog {
  color: tan;
}
#Sheep {
  color: steelblue;
}
#Parakeet {
  color: lime;
}
#Tuna {
  color: purple;
}
